/*raccourcis*/

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    margin: 0px;
}

.backgris{
    background-color: #f2f2f2;
}

.backbleu{
    background-color: #0065fc;
}

/*Logo*/

.haut{
    display: flex;
    justify-content: space-between;
}

.Reservia{
    display: flex;
    width: 150px;
    height: 50px;
    margin: 10px;
}

/*Menu*/

.Menu1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.Menu2{
    display: flex;
    position: absolute;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.gris1{
    color: gray;
}

.bleu1{
    display: flex;
    border: solid 2px;
    color: #0065fc;
    border-right: white;
    border-left: white;
    border-bottom: white;
}

.bleu2{
    color: #0065fc;
}

.bleu1, .bleu2, .gris1{
    padding: 15px;
}

/*Libellé*/

.libellé1{
    left: 35px;
    font-size: 20px;
    font-weight: bolder;
}

.libellé2{
    font-size: 15px;
    font-style: italic;
}

#libellé{
    line-height: initial;
    line-height: 3px;
}

/*Barre de recherche*/

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
  }

.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.recherche input {
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.bordureNone {
    border: none;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/*Filtres*/

.Filtres{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 40px;
}

.titrefiltre{
    margin-right: 20px;
}

.Economique, .Romantique, .Familial, .Animaux{
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #f2f2f2;
    height: 50px;
}

.filtreTexte{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.FiltreIcons{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

.FiltreIcons1{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
}

/* plus de [...]*/

.iconPlus{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.petit{
    font-size: 15px;
    font-style: italic;
    font-family: "raleway";
}

.petit i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid #f2f2f2;
    width: 20px;
    height: 20px;
    color: #0065fc;
}

/*hébergement à marseille*/

/*Boite 1*/

.Bloc1, .Bloc2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boite1{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 150px;
    width: 230px;
    border: solid white outset;
    border-radius: 20px;
    border-width: 5px;
    margin: 25px;
    padding: 5px;
    padding-bottom: 20px;

}

.Enonce1, .Enonce2{
    display: flex;
    margin: none;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.Enonce1 h3{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Enonce1 p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.img1 img, .img2 img{
    border-radius: 10px 10px 0 0;
    height: 100px;
    width: 250px;
    margin: 0;
}

.img1, .img2{
    display: flex;
    justify-content: center;
}

.Heberg{
    flex: 2;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 570px;
}

.affich{
    font-weight: bold;
    margin-left: 30px;
}

/*Les plus populaires*/

.LPPOP{
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 570px;
}

.lpp{
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 15px;
}

.lpp h3{
    margin: 0;
    margin-right: 240px;
}

.boite2{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 120px;
    width: 380px;
    border: solid white outset;
    border-radius: 20px;
    border-width: 5px;
    margin: 18px;
    padding: 10px;
    padding-bottom: 20px;
}

.img2 img{
    border-radius: 15px 0px 0px 15px;
    height: 130px;
    width: 180px;
    margin: 0;
}

.img2{
    display: flex;
    justify-content: flex-start;
}

.Enonce2 p{
    margin-top: 0px;
}

.Enonce2 h3{
    margin-bottom: 0px;
    margin-top: 0px;
}

/*Activités à Marseille*/

.ActM{
    margin-left: 20px;
}

.AM{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    padding-left: 0px;
}

.GPic{
    background-color: white;
    height: 350px;
    width: 300px;
    border: solid white none;
    box-shadow: #f2f2f2 3px 3px;
    border-radius: 15px 15px 0px 0px;

}

.pic2{
    height: 170px;
    width: 300px;
    border: solid white none;
    box-shadow: #f2f2f2 3px 3px;
    border-radius: 15px 15px 0px 0px;
}

.pic3{
    height: 110px;
    width: 300px;
    border: solid white none;
    box-shadow: #f2f2f2 3px 3px;
    border-radius: 15px 15px 0px 0px;
}

.pic4{
    height: 140px;
    width: 300px;
    border: solid white none;
    box-shadow: #f2f2f2 3px 3px;
    border-radius: 15px 15px 0px 0px;
}

.GPic img{
    height: 350px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}

.pic2 img{
    height: 180px;
    width: 300px;
    border-width: 5px;
    border-radius: 15px 15px 0px 0px;
}

.pic3 img{
    height: 110px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}

.pic4 img{
    height: 140px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}

.boite3{
    display: flex;
    flex-direction: column;
}

.Enonce3{
    display: flex;
    background-color: white;
    box-shadow: #f2f2f2 3px 3px;
    border: 13px #f2f2f2;
    border-radius: 0px 0px 20px 20px;
    margin: 0;
    padding-left: 15px;
}

.Enonce3 h3{
    font-size: 14px;
}

.LD{
    display: flex;
    flex-direction: row;
}

.LD1, .LD2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Le footer*/

.contenu-footer{
    background-color: #f2f2f2;
    bottom:0;
    width:100%;
    padding-top:50px;
    height: 600px;
}